body,
html {
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
  font-size: 14px;
}

.zf-container {
  padding: 10px;
}

.panel {
  position: relative;
}

.panel-header {
  position: relative;
  padding-left: 20px;
  height: 38px;
  line-height: 40px;
  color: #333333;
  background-color: #fbfbfb;
  border-bottom: 1px solid #e8e8e8;
  z-index: 10;
}

.panel {
  position: relative;
  background-color: #ffffff;
}

.chart {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
